.profile__info-button {
  height: 24px;
  width: 24px;
  background-size: 10px 10px;
  background-image: url(../../../images/editPen.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ffffff;
  padding: 0;
  cursor: pointer;
  color: white;
  background-color: black;
  /* position: absolute; */
  top: 35%;
  left: 106%;
  margin: 0 0 0 12px;
  align-self: baseline;
}

.profile__info-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .profile__info-button {
    background-size: 7.5px 7.5px;
    width: 18px;
    height: 18px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .profile__info-button {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 9px;
    left: 202px;
    background-size: 7.5px 7.5px;
  }
}
