.element__feedback-like {
  background-image: url(../../../images/Like.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
  background-color: white;
}

.element__feedback-like:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* .element__feedback-like:active {
  background-image: url(../../../images/ColoredLike.svg);
  opacity: 1;
} */
