.elements {
  max-width: 880px;
  margin: 50px auto 66px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(360px, 1fr));
  gap: 20px 17px;
  color: black;
  width: 90%;
  justify-items: center;
}

@media screen and (max-width: 320px) {
  .elements {
    margin-top: 35px;
    margin-bottom: 51px;
  }
}
