.profile__page {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 400px) {
  .profile__page {
    gap: 0;
  }
}

@media screen and (max-width: 320px) {
  .profile__page {
    flex-direction: column;
    align-items: center;
    gap: 26px;
  }
}
