.picture-popup__close-button {
  top: 25px;
  left: 400px;
  width: 32px;
  height: 32px;
  /* position: absolute; */
  cursor: pointer;
  background: url(../../../images/Close-Icon.svg);
  background-position: center;
  border: none;
  align-self: end;
  z-index: 2;
  /* margin-right: 14%; */
}

.picture-popup__close-button:hover {
  opacity: 0.6;
}
